<mat-toolbar style="width:100%;background:#FF9F00;color:black">
  <mat-toolbar-row>
    <span>
      <h1>MOVIE LOVER</h1>
    </span>
    <div style="margin:0 auto;">
      <span>
        <button class="btn" (click)="onChangePage('previous')">
          <--Previous </button>
            <i> - </i>
            <button class="btn" (click)="onChangePage('next')"> Next--> </button>
      </span>
      <span>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-content">
  <div class="sub-content" (click)="sendMovieID(movie.id);" *ngFor="let movie of movies_list.results">
    <mat-card>
      <h3>{{movie.title}}</h3>
      <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
      <p>
        {{movie.original_title}}
      </p>
      <p>
        {{movie.overview}}
      </p>
    </mat-card>
  </div>
</div>